<div class="navbar">
    <nav>
        <div class="logo">
            <h2><a href="/"><i class="far fa-snowflake" style="  margin-right: 5px; color: #2d6ee6;"></i>Weather App
                    Project<i class="far fa-snowflake" style="color: #2d6ee6;margin-left: 5px;"></i></a></h2>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/weather">Weather</a></li>
        </ul>
    </nav>
</div>