* {
    padding: 0;
    font-family: system-ui;
    margin: 0;
}

.navbar {
    background: #2b2b2b; 
    border-bottom: 2px solid #8a8a8a;
    box-shadow: black 0 0 12px 0;
}

.navbar nav {
    display: flex;
    min-height: 8vh;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    color: white;
}

.logo a {
    color: white;
    text-decoration: none;
}


.navbar nav ul {
    display: flex;
    color: white;
    list-style: none;
    align-items: center;
    margin-left: auto;
    margin-right: 11rem;
}


.navbar nav ul li a {
    color: white;
    transition: all 0.4s;
    text-decoration: none;
    margin-right: 1.3rem;
    font-size: 20px;
}

.navbar nav ul li a:hover {
    color: rgb(102, 102, 251);
    text-decoration: underline;
}

.container {
    font-size: 30px;
    margin-top: 8rem;
    display: flex;
    margin-left: 4rem;
}

.container h6 {
    color: grey;
    padding: 4px 0px 8px 0px;
}

.blah {
    margin: 4px 0px 11px 0px;
}

.weatherbtn {
    font-size: 15px;
    padding: 5px;
    transition: all 0.4s;
    border: 2px solid grey;
    background: none;
    border-radius: 19px;
}

.weatherbtn a {
    color: black;
    text-decoration: none;
}

.weatherbtn:hover {
    box-shadow: grey 0 0 20px 0;
}

.clock {
    margin: auto;
}

.box {
    padding: 19px;
    background: #bbbbbb;
    border-radius: 60px;
    box-shadow: grey 0 0 20px 1px;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.searchBar input {
    padding: 6px 6px 6px 16px;
    width: 22rem;
    border: 1px solid grey;
    transition: all 0.4s;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
    color: white;
    background: #4a4a4a;
}

.searchbtn {
    font-size: 18px;
    border: 2px solid grey;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    border-radius: 20px;
}

.searchBar input:hover {
    box-shadow: grey 0 0 20px 2px;
}

.showWeather {
    display: flex;
    justify-content: center;
}

.Weatherbox {
    width: 16rem;
    margin-top: 3rem;
    box-shadow: #2b2b2b 0 0 20px 10px;
    height: 13rem;
    color: white;
    background: #2b2b2b;
    border-radius: 6px;
    padding: 7px 10px 0px 10px;
    
}

.weatherBoxNav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 22px;
    border-radius: 10px;
    background: #4a4a4a;
}

.weather {
    margin-top: 16px;
}

.weather h3 {
    font-size: 17px;
    margin: 7px 1px;
}

.weather h1 {
    display: flex;
    justify-content: center;
}

.anotherInfo {
    margin: 22px 0px 0px 3px;
}



@media (min-width : 375px) and (max-width: 425px) {
    .container{
        display: block;
        margin: 3rem;
        font-size: 29px;
    }
    .clock{
        margin-top: 3rem;
        font-size: 22px;
    }

    .navbar nav {
        display: contents;
    }

    .navbar nav ul {
        justify-content: center;
        margin: 1rem 0;
    }

    .box{
        display: flex;
        justify-content: center;
    }

    .logo{
        align-items: center;
        justify-content: center;
        margin: 0;
    }


}



@media (max-width : 320px) and (max-width : 375px){
    .container{
        display: block;
        margin: 3rem;
        font-size: 29px;
    }
    .clock{
        margin-top: 3rem;
        font-size: 18px;
    }

    .navbar nav {
        display: contents;
    }

    .navbar nav ul {
        justify-content: center;
        margin: 1rem 0;
    }

    .box{
        display: flex;
        justify-content: center;
    }
    .logo{
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .searchBar input{
        width: 13rem;
    }
    .searchbtn{
        font-size: 15px;
    }
}



@media (min-width: 425px) and (max-width: 768px) {
    .clock{
        margin: 4rem auto;
    width: auto;
    display: flex;
    }
    .container{
        display: block;
    }
}